{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "printWidth": 100,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.tsx",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": "*.jsx",
      "options": {
        "parser": "babel"
      }
    }
  ]
}
